

<%- include('partials/header') %>
<main class="flex-grow-1">

<div class="container mt-5">
  <h1 class="text-primary">Hello, <%= wallah || 'Guest' %>!</h1>
  <p class="homedap">Create ur interesting "SHAYARI" here.</p>
  <a href="/form">
  <button class="btn btn-success" id="testBtn">Irshaad</button>
</a>
<img src="/IMG_6616.jpeg" alt="myimage" class="img-fluid mt-5 d-block">
</div>

</main>


<%- include('partials/footer') %>


